body {
    font-family: "farhan";
    text-align: center;
}

h1 {
    border-bottom: 2px solid yellowgreen

    
}
@font-face {
    font-family: "farhan";
    src: url(/10-01-24/Pacifico-Regular.ttf);
}
